{% extends "basicapp/base.html"%}
{%block body_block %}
{% load static %}
<a href="{% url 'MoneyMatters:home' %}"> <button value="Back">Back</button> </a>
<center>
   <h1 ><B>IN YOUR WALLET</B></h1>
   <br><hr><br>
   <form method="POST">
       {% csrf_token %}
       {{ iform.as_p }}

       <input type="submit" value="Add!">

   </form>
   <b><h1>In your wallet: {{ total }}</h1></b>
   <a href="{% url 'MoneyMatters:Expenses' %}"><button type="button">Check out your recent expense</button></a>

   </center>
{%endblock%}
