<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <nav>
      <div class="logo">LOOK</div>

    <ul>
        <li><a href="{%url 'basicapp:index' %}">Home</a></li>
        <li><a class="active" href="{%url 'newspaperapp:home'%}">Newspaper</a></li>
        <li><a href="#">Planner</a></li>
        <li><a href="#">Chatroom</a></li>
        <li><a href="{%url 'debateapp:home' %}">debate</a></li>
        <li><a href="{%url 'post:home2' %}">Talkative</a></li>
          {% if user.is_authenticated %}
          <li><a href="{%url 'logout' %}">logout</a></li>
          {% else %}
          <li><a  href="{%url 'basicapp:register' %}">register</a></li>
          <li><a  href="{%url 'basicapp:user_login' %}">login</a></li>
          {% endif %}
    </ul>
    </nav>


        <div class='container'>
          {% block main %}
          {% endblock %}
        </div>


  </body>
</html>
